@use 'mixins' as m;

.about{
    margin-top: 3rem;

    .title{
        &::after{
            width: 12rem;
        }
    }


    @include m.breakpoint-up("large"){
        
        display: flex;

        &__text{

            order: 2;
            flex: 4;

            h1{
                text-align: left;

                &::after{
                    left: 0%;
                    transform: translateX(0);
                }
            }
            p{
                text-align: left;
            }
        }

        &__image{
            order: 1;
            flex: 5;
            transform: translateY(-15%);
        }
    }
}