@use 'mixins' as m;

html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font: 1rem 'Poppins', sans-serif;
    background-color: var(--color-wild-sand);
    color: var(--color-dark);

    &.static{
        overflow: hidden;
    }
}

.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-ai-c{
        align-items: center;
    }

}


.hide-for-mobile{
    @include m.breakpoint-down(medium){
        display:none;
    }
}

.hide-for-desktop{
    @include m.breakpoint-up(large){
        display:none;
    }
}

.container{
    max-width: 1200px;
    padding-right: 1.0625rem;
    padding-left: 1.0625rem;
    margin: 0 auto;
}

.wave{
    background-image: url(/images/wave-2.svg);
    background-repeat: no-repeat;
    height: 18rem;
    background-size: cover;

    &:last-of-type{
        transform: rotate(180deg);
        height: 20rem;
    }

    @include m.breakpoint-down("small"){
        height: 25vh;
    }

    @include m.breakpoint-up("large"){
        height: 22rem;
    }
}