:root{
    --color-blue: #08aeea;
    --color-blue-white: #a2d9ff;
    --color-java-blue: #19d2c1;
    --color-spring-green : #2af598;
    --color-java-green: #22e3ad;
    --color-wild-sand: #f6f6f6;
    --color-dark: #050505ec;
    --color-dark-grey: #4b4c4f;
    --color-white:#ffffff;
}