@use 'mixins' as m;

.project{


    position: relative;
    
    &__text{
        .title{
            margin-bottom: 3.5rem;
            &::after{
                width: 11.25rem;
            }
        }
    }

    &__cards{

        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
        display: flex;
        

        .card{

            position: relative;
            background-color: var(--color-white);
            width: 17.5rem;
            height: 23.4375rem;
            border-radius: 10px;

            &::before{
                border-radius: 10px;
                content: '';
                position: absolute;
                background-color: #212121;
                width: 100%;
                height: 100%;
                top: 0%;
                left: 0%;
                opacity: 0;
                transition: all 1s;
            }

            &:hover{
                &::before{
                    opacity: 0.6;
                }
            }
            
            &__image{

                height: 100%;

                img{
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                }
            }

            &__content{
                color: var(--color-white);
                padding: 1rem;
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: 0;
                transition: all 1s;
                user-select: none;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }


 


}