h1{
    font-size: 2rem;
}

.title{
    position: relative;
    text-align: center;

    &::after{
        content: '';
        position: absolute;
        background-color: var(--color-java-blue);
        bottom: -0.10rem;
        width: 18rem;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        border-radius:5px;
    }

}

h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: 0;
}

a, a:visited, a:active{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

//buttons

.btn{
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    cursor: pointer;
    background:linear-gradient(to right, var(--color-blue),var(--color-java-blue));
    border: 0;
    color: var(--color-wild-sand);
}
