h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    font-weight: 700;
    
}

p{
    margin-top: 0;
}

a, a:visited, a:active{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

//buttons

.btn{
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    cursor: pointer;
    background:linear-gradient(to right, var(--color-blue),var(--color-java-blue));
    border: 0;
    color: var(--color-wild-sand);
}
